#root {
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid rgb(139 141 92);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #de9f7cb5;
}
.modal-open{
  padding-right: 0px !important;
}
p {
  margin-block-start: 0px;
  margin-block-end: 5px;
}
@media screen and (max-width: 639px) {
    
  body {
      font-size: 14px;
  }
  #root {
    width: 400px;
  }
  h2 {
      font-size: 20px;
      font-weight: 700;
  }
  h1 {
      margin-bottom: 18px;
  }
  .noteDiv div {
    width: 45%;
  }
}
@media screen and (max-width: 450px) {
  .noteDiv div {
    width: 100%;
  }
  .noteDiv {
    display: flex;
    flex-direction: column;
  }
  .fade.modal.show {
    padding-right:8px !important;
    margin-left: 15% !important;
  }
}
@media screen and (max-width: 399px) {
  body {
      font-size: 12px;
  }
  #root {
      width: 100%;
  }
  .noteDiv div {
    width: 100%;
  }
  .fade.modal.show {
    padding-right: 8px !important;
    margin-left: 15% !important;
  }
  .noteDiv {
    display: flex;
    flex-direction: column;
  }
}

