.note {
    display: flex;
    flex-direction: column;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

textarea {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.input-title {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 1em;
}

.input-note {
    margin-bottom: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    resize: none;
}

.noteDiv {
    display: flex;
    flex-direction: column;
}

.noteDiv div {
    padding: 8px;
    border: 1px solid rgb(139 141 92);
    margin: 10px 0;
    background-color: rgb(241 216 203 / 84%);;
    border-radius: 10px;
    text-align: left;
}